table {
  width: 100%;
}

th,
td {
  text-align: center !important;
}
/*
/deep/ .mat-paginator-range-actions{
  flex-direction: row-reverse !important;
}
*/
/deep/ .mat-paginator-navigation-previous {
  order: 1;
}

/deep/ .mat-input-element,
/deep/ .mat-form-field-label {
  text-align: right !important;
}

button[mat-button] {
  padding: 0;
  font-size: 30px;
  background: #F5F5F5;
  height: 100%;
}
button[mat-button] span {
  display: block;
  margin: -10px;
}
